/*
 Purple : 8787BB
*/

/* HEADER */

header {
  height: 600px;
  background: url('../images/payments-banner-graphic.png') no-repeat 0 0;
}

nav {
  height: 65px;
  position: relative;
}

#logo, #log-on {
  position: absolute;
  width: 49.8%;
  height: 65px;
  /*background-color: red;*/
  display: inline-block;
}

#log-on {
  right: 0%;
  text-align: right;
}

.v-center {
  line-height: 65px !important;
}

#logo img {
  line-height: normal;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 17px;
}

#logo span {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 17px;
  font-size: 1em;
}

#log-on span {
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
}

#signup {
  margin-left: 17px;
  margin-right: 17px;
  color: blue;
}

/* END HEADER */
